# brownie/python/pytest
__pycache__
.history
.hypothesis/
build/
reports/
.env
*venv*
.pytest_cache

# editors
.idea/
.vscode/

# macos
.DS_Store

# pipenv
Pipfile*

# npm
yarn.lock
package.json
package-lock.json
node_modules

# badger-multisig
audit_owners_mapper.py
data/Convex_EPS
data/Votium
logs/
